<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.24.0">
      <projectUrl>https://github.com/imperial-photonics/FLIMfit/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/imperial-photonics/FLIMfit.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>false</trackingSubmodules>
        <reference></reference>
        <parentCredentials>false</parentCredentials>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
    </extensions>
  </scm>
  <assignedNode>garvan-mac</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.24.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <EnvInjectBuilder plugin="envinject@1.93.1">
      <info>
        <propertiesContent>OME=5.2
BIO=5.2
BOOST_VER_MAJOR=1
BOOST_VER_MINOR=59
MATLAB_VER=R2015b
PATH=$PATH:/usr/local/bin</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>./Configure.sh
rm -rf FLIMfitStandalone/BuiltApps/* 2&gt; /dev/null
./BuildFLIMfit.sh
echo GIT_DESCRIBE=$(git describe) &gt; git.properties</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.93.1">
      <info>
        <propertiesFilePath>git.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <com.google.jenkins.plugins.storage.GoogleCloudStorageUploader plugin="google-storage-plugin@0.10-SNAPSHOT">
      <credentialsId>FLIMfit</credentialsId>
      <uploads>
        <com.google.jenkins.plugins.storage.ClassicUpload>
          <bucketNameWithVars>gs://flimfit-downloads/latest/$GIT_DESCRIBE</bucketNameWithVars>
          <sharedPublicly>true</sharedPublicly>
          <forFailedJobs>false</forFailedJobs>
          <pathPrefix>FLIMfitStandalone/BuiltApps/</pathPrefix>
          <module/>
          <sourceGlobWithVars>FLIMfitStandalone/BuiltApps/*.zip</sourceGlobWithVars>
        </com.google.jenkins.plugins.storage.ClassicUpload>
        <com.google.jenkins.plugins.storage.ClassicUpload>
          <bucketNameWithVars>gs://flimfit-downloads/latest/$GIT_DESCRIBE/libraries</bucketNameWithVars>
          <sharedPublicly>true</sharedPublicly>
          <forFailedJobs>false</forFailedJobs>
          <pathPrefix>FLIMfitLibrary/Libraries/</pathPrefix>
          <module reference="../../com.google.jenkins.plugins.storage.ClassicUpload/module"/>
          <sourceGlobWithVars>FLIMfitLibrary/Libraries/*.dylib</sourceGlobWithVars>
        </com.google.jenkins.plugins.storage.ClassicUpload>
      </uploads>
    </com.google.jenkins.plugins.storage.GoogleCloudStorageUploader>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.1">
      <teamDomain>flimfit</teamDomain>
      <authToken></authToken>
      <authTokenCredentialId>slack-token</authTokenCredentialId>
      <room>#build</room>
      <startNotification>false</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <commitInfoChoice>AUTHORS_AND_TITLES</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>