<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/flimfit/Galene</url>
        <credentialsId>flimfit-bot github</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/seanwarren/Galene</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>false</trackingSubmodules>
        <reference></reference>
        <parentCredentials>true</parentCredentials>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
    </extensions>
  </scm>
  <assignedNode>garvan-win-10</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.28.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>set CURDIR=%cd%&#xd;
&quot;C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat&quot; x64&#xd;
echo %CURDIR%&#xd;
cd %CURDIR%&#xd;
build-libs.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>build-flim-ui.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>sign-installer.bat</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <com.google.jenkins.plugins.storage.GoogleCloudStorageUploader plugin="google-storage-plugin@0.13">
      <credentialsId>FLIMfit</credentialsId>
      <uploads>
        <com.google.jenkins.plugins.storage.ClassicUpload>
          <bucketNameWithVars>gs://flimfit-downloads/galene</bucketNameWithVars>
          <sharedPublicly>true</sharedPublicly>
          <forFailedJobs>false</forFailedJobs>
          <showInline>false</showInline>
          <pathPrefix>Build/</pathPrefix>
          <module/>
          <sourceGlobWithVars>Build/*.exe</sourceGlobWithVars>
        </com.google.jenkins.plugins.storage.ClassicUpload>
      </uploads>
    </com.google.jenkins.plugins.storage.GoogleCloudStorageUploader>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.13">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>cert-password</credentialsId>
          <variable>CERTPASS</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
        <org.jenkinsci.plugins.credentialsbinding.impl.FileBinding>
          <credentialsId>flimfit-cert</credentialsId>
          <variable>CERTFILE</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.FileBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>