<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>themangotree</id>
  <fullName>themangotree</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwxsqjgTuGk8Dlj8cIUJHQ5UEgc5Q+GujZuqlq6JPfztl6399KAc7k2Fno/He2u1HDfVCOxe3kktGz6xk3jJtqqA==}</apiToken>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>da203905-b33e-4019-a29b-2d880d9b9c94</uuid>
            <name>Legacy Token</name>
            <value>
              <version>10</version>
              <hash>cfa469b28631ec9beda70a029d89aafc50bda81adb38a829f954569dfe171bfd</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.3">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map"/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.23">
      <emailAddress>themangotree@protonmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>2b49ea2784a46509</seed>
    </jenkins.security.seed.UserSeedProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.31">
      <accessToken>{AQAAABAAAAAwFjOdZ4DnAuT3x2BeHmMKQJBHZxmOdFvvV96FrTxmURA8TnGE0wLsc4A/6btrSyf1AqXl/lrgq1el36cWy2CBxQ==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>